@import "tailwindcss";

@theme {
  --color-text2: #2e2c2c;
  --color-cus1: blue;
  --color-black-30:  #0d1415;
  --color-black-20: #2f2d2d;
  --color-white: #d9d9d9;
  --color-fon: #fdf9f0;
  --color-text: #1b1a1a;
  --color-partners-gradient: linear-gradient(90deg, rgba(204, 225, 251, 0.8) 0%, rgba(61, 105, 216, 0.8) 63.94%, rgba(34, 132, 255, 0.8) 100%);
  --font-family: "Roboto", sans-serif;
  --font-second: "Inter", sans-serif;
  --font-third: "Oswald", sans-serif;
  --font-font3: "Georgia Pro", sans-serif;
  --font-font4: "Georgia", sans-serif;
  --font-font5: "Roboto Mono", sans-serif;
  --shadow-button-basic: 0 12px 25px 0 rgba(0, 0, 0, 0.25);
  --shadow-button-second: 0 10px 25px 0 rgba(0, 0, 0, 0.25);
  --shadow-form-partner: 12px 12px 20px 0 rgba(0, 0, 0, 0.25);
  --shadow-reporting-card: 12px 12px 30px 0 rgba(23, 21, 21, 0.25);
  --breakpoint-xs: 30rem;
  --lg-custom: 1180px;
  --breakpoint-2xl: 1440px;
}


body {
  font-family: Roboto, sans-serif;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}


.banner {
  @apply xl:pb-[43px] bg-size-[100vw_clamp(14.438rem,2.051rem+52.851vw,35.875rem)] lg:bg-size-[100vw_clamp(35.875rem,2.952rem+51.442vw,49.25rem)] bg-no-repeat bg-center w-full h-[clamp(14.438rem,2.051rem+52.851vw,35.875rem)] lg:h-[clamp(35.875rem,2.952rem+51.442vw,49.25rem)] bg-[url('/banner.png')] ;
}

.reporting {
  @apply w-full h-[clamp(8.438rem,-0.049rem+36.21vw,23.125rem)] lg:h-[clamp(23.125rem,-0.106rem+36.298vw,32.563rem)] bg-[url('/reportings/reporting.svg')] bg-size-[100%] bg-no-repeat;
}

.wrapper {
  @apply w-full max-w-[1440px] m-auto px-[22px] sm:max-lg:px-[clamp(1.25rem,0.167rem+4.622vw,3.125rem)] min-lg:px-[clamp(3.125rem,-1.49rem+7.212vw,5rem)];
}

.bg-gradient-partners {
  background: linear-gradient(90deg, rgba(204, 225, 251, 0.8) 0%, rgba(61, 105, 216, 0.8) 63.94%, rgba(34, 132, 255, 0.8) 100%);
}
.bg-gradient-quality {
  background: linear-gradient(32deg, #ffb00f 0%, #d5a034 24.09%, #cfb276 55.95%, #5785fa 100%);
}

.reporting-section {
  @apply grid
   grid-cols-[repeat(auto-fill,minmax(156px,1fr))]
   xs:grid-cols-[repeat(auto-fill,minmax(210px,1fr))]
   md:grid-cols-[repeat(auto-fill,minmax(279px,1fr))]
   justify-items-center
   gap-x-4 gap-y-[13px]
   lg:gap-x-5 lg:gap-y-[64px]
   lg:grid-cols-3
}

.embla {

}
.embla__viewport {
}
.embla__container {
  touch-action: pan-y pinch-zoom;
  /* margin-left: calc(var(--slide-spacing) * -1); */
}
.embla__slide {
  /* transform: translate3d(0, 0, 0); */
  /* flex: 0 0 20%; */
}

.loader {
  aspect-ratio: 1;
  border-radius: 50%;
  border-right-color: #fafafa;
  animation: l2 3s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}

.presentation canvas {
  width: 100%!important;
  height: auto!important;
}

.svg-icon .fill-rect {
  fill: #FDF9F0;
  transition: fill 0.3s ease;
  cursor: pointer;
}

.svg-icon:hover .fill-rect {
  fill: #F1F0F0;
}

.svg-icon:active .fill-rect {
  fill: #9A9893;  
}